In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [2]:
dFrame = DataFrame({'key1': ['A'] *2 + ['B']*3,
                   'key2': [2,2,2,3,3]})
dFrame

  key1  key2
0    A     2
1    A     2
2    B     2
3    B     3
4    B     3

In [3]:
#how to find duplicates
dFrame.duplicated()

0    False
1     True
2    False
3    False
4     True
dtype: bool

In [4]:
#get rid of duplicates
dFrame.drop_duplicates()

  key1  key2
0    A     2
2    B     2
3    B     3

In [5]:
#filter out the duplicates with columns e.g. dropped by key1
dFrame.drop_duplicates(['key1'])

  key1  key2
0    A     2
2    B     2

In [6]:
dFrame

  key1  key2
0    A     2
1    A     2
2    B     2
3    B     3
4    B     3

In [7]:
#by default first value is taken, but you can take last value
dFrame.drop_duplicates(['key1'],take_last =True)

C:\Users\piush\Anaconda2\lib\site-packages\ipykernel\__main__.py:2: FutureWarning: the take_last=True keyword is deprecated, use keep='last' instead
  from ipykernel import kernelapp as app

  key1  key2
1    A     2
4    B     3

In [9]:
dFrame.drop_duplicates(['key1'],keep ='last')

  key1  key2
1    A     2
4    B     3