In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [3]:
# for dictionary you set up the column name and the values
dfLeft = DataFrame({'key': ['X','Y','Z','X','Y'],
                    'data':range(5)})
dfLeft

   data key
0     0   X
1     1   Y
2     2   Z
3     3   X
4     4   Y

In [4]:
dfRight = DataFrame({'groupData': [10,20]},index =['X','Y'])
dfRight

   groupData
X         10
Y         20

In [5]:
#merge with key from the left and index from right 
pd.merge(dfLeft,dfRight,left_on ='key',right_index = True)

   data key  groupData
0     0   X         10
3     3   X         10
1     1   Y         20
4     4   Y         20

In [19]:
pd.merge(dfLeft,dfRight,left_on = 'key',right_index = 'groupData')

   data key  groupData
0     0   X         10
3     3   X         10
1     1   Y         20
4     4   Y         20

In [24]:
#using a heirarcy index 
dfLeftHr = DataFrame({'key1':['SF','SF','SF','LA','LA'],
                    'key2':[10,20,30,20,30],
                    'dataSet':np.arange(5)})

In [25]:
dfLeftHr

   dataSet key1  key2
0        0   SF    10
1        1   SF    20
2        2   SF    30
3        3   LA    20
4        4   LA    30

In [26]:
dfRightHr = DataFrame(np.arange(10).reshape(5,2),
                      index=[['LA','LA','SF','SF','SF'],
                            [20,10,10,10,20]],
                     columns = ['col_1','col_2'])

In [27]:
dfRightHr

       col_1  col_2
LA 20      0      1
   10      2      3
SF 10      4      5
   10      6      7
   20      8      9

In [28]:
pd.merge(dfLeftHr,dfRightHr,left_on =['key1','key2'],right_index = True)

   dataSet key1  key2  col_1  col_2
0        0   SF    10      4      5
0        0   SF    10      6      7
1        1   SF    20      8      9
3        3   LA    20      0      1

In [29]:
#no need to put so many arguments
#use the join same as merge
dfLeft.join(dfRight)

   data key  groupData
0     0   X        NaN
1     1   Y        NaN
2     2   Z        NaN
3     3   X        NaN
4     4   Y        NaN