In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

sns.set(style="white", color_codes=True)

%matplotlib inline

What is Statbank API?

The Central Statistics Office (CSO) StatBank Application Programming Interface (API) provides access to StatBank data in JSON-stat format. This dissemination tool allows developers machine to machine access to CSO StatBank data. Details about JSON-stat can be found at this web address http://json-stat.org/.

The majority of StatBank tables are available in JSON-stat format, on the StatBank API. StatBank tables with over 150,000 data points are not available in the StatBank API and a message to this effect is presented when you select the JSON table e.g. TDM04 is not available. A list of the StatBank tables that are unavailable are presented here.

If you encounter any difficulties please email databank@cso.ie.

CSO wish you every success using this new data dissemination tool and we welcome your feedback at databank@cso.ie.

Download Data

To download a StatBank table in JSON-stat please click here

There is a list of themes that follow a similar structure to StatBank. Select the theme and subtheme you are interested in and the data tables available will be displayed. Tables are listed as Key Tables, Current Tables and Archived Tables to assist with appropriate selection. The final theme PSSN, is the data hosted by the CSO for other government departments through the CSO Public Sector Statistics Network. Remember tables with over 150,000 data points though listed are not available for download with this application. Details about JSON-stat can be found at this web address http://json-stat.org/ .


http://www.cso.ie/webserviceclient/
http://www.cso.ie/webserviceclient/DatasetListing.aspx

pyjstat is a python library for JSON-stat formatted data manipulation which allows reading and writing JSON-stat [1] format with python,using the DataFrame structures provided by the widely accepted pandas library [2]. The JSON-stat format is a simple lightweight JSON format for data dissemination, currently in its 2.0 version. Pyjstat is inspired in rjstat [3], a library to read and write JSON-stat with R, by ajschumacher. Note that, like in the rjstat project, not all features are supported (i.e. not all metadata are converted). pyjstat is provided under the Apache License 2.0.

[1]	http://json-stat.org/ for JSON-stat information
[2]	http://pandas.pydata.org for Python Data Analysis Library information
[3]	https://github.com/ajschumacher/rjstat for rjstat library information
This library was first developed to work with Python 2.7. With some fixes (thanks to @andrekittredge), now it works with Python 3.4 too.

https://pypi.python.org/pypi/pyjstat/

###### Residential Dwelling Property Transactions by County, Dwelling Status, Stamp Duty Event, Type of Buyer, Type of Sale, Month and Statistic

###### Variables

* County (27) -- for all counties
* Dwelling Status (3)
* Stamp Duty Event (2)
* Type of Buyer (6)
* Type of Sale (3)
* Time (87)
* Contents (4)

In [2]:
from pyjstat import pyjstat
# read from json-stat
url = 'http://www.cso.ie/StatbankServices/StatbankServices.svc/jsonservice/responseinstance/HPM02'
dataset = pyjstat.Dataset.read(url)
df = dataset.write('dataframe')
print(df)

INFO:requests.packages.urllib3.connectionpool:Starting new HTTP connection (1): www.cso.ie

               County        Dwelling Status Stamp Duty Event  \
0        All Counties  All Dwelling Statuses          Filings
1        All Counties  All Dwelling Statuses          Filings
2        All Counties  All Dwelling Statuses          Filings
3        All Counties  All Dwelling Statuses          Filings
4        All Counties  All Dwelling Statuses          Filings
5        All Counties  All Dwelling Statuses          Filings
6        All Counties  All Dwelling Statuses          Filings
7        All Counties  All Dwelling Statuses          Filings
8        All Counties  All Dwelling Statuses          Filings
9        All Counties  All Dwelling Statuses          Filings
10       All Counties  All Dwelling Statuses          Filings
11       All Counties  All Dwelling Statuses          Filings
12       All Counties  All Dwelling Statuses          Filings
13       All Counties  All Dwelling Statuses          Filings
14       All Counties  All Dwelling Statuses          Filings
15       All Counties  All Dwelling Statuses          Filings
16       All Counties  All Dwelling Statuses          Filings
17       All Counties  All Dwelling Statuses          Filings
18       All Counties  All Dwelling Statuses          Filings
19       All Counties  All Dwelling Statuses          Filings
20       All Counties  All Dwelling Statuses          Filings
21       All Counties  All Dwelling Statuses          Filings
22       All Counties  All Dwelling Statuses          Filings
23       All Counties  All Dwelling Statuses          Filings
24       All Counties  All Dwelling Statuses          Filings
25       All Counties  All Dwelling Statuses          Filings
26       All Counties  All Dwelling Statuses          Filings
27       All Counties  All Dwelling Statuses          Filings
28       All Counties  All Dwelling Statuses          Filings
29       All Counties  All Dwelling Statuses          Filings
...               ...                    ...              ...
1014738      Monaghan               Existing       Executions
1014739      Monaghan               Existing       Executions
1014740      Monaghan               Existing       Executions
1014741      Monaghan               Existing       Executions
1014742      Monaghan               Existing       Executions
1014743      Monaghan               Existing       Executions
1014744      Monaghan               Existing       Executions
1014745      Monaghan               Existing       Executions
1014746      Monaghan               Existing       Executions
1014747      Monaghan               Existing       Executions
1014748      Monaghan               Existing       Executions
1014749      Monaghan               Existing       Executions
1014750      Monaghan               Existing       Executions
1014751      Monaghan               Existing       Executions
1014752      Monaghan               Existing       Executions
1014753      Monaghan               Existing       Executions
1014754      Monaghan               Existing       Executions
1014755      Monaghan               Existing       Executions
1014756      Monaghan               Existing       Executions
1014757      Monaghan               Existing       Executions
1014758      Monaghan               Existing       Executions
1014759      Monaghan               Existing       Executions
1014760      Monaghan               Existing       Executions
1014761      Monaghan               Existing       Executions
1014762      Monaghan               Existing       Executions
1014763      Monaghan               Existing       Executions
1014764      Monaghan               Existing       Executions
1014765      Monaghan               Existing       Executions
1014766      Monaghan               Existing       Executions
1014767      Monaghan               Existing       Executions

               Type of Buyer    Type of Sale    Month  \
0            All Buyer Types  All Sale Types  2010M01
1            All Buyer Types  All Sale Types  2010M01
2            All Buyer Types  All Sale Types  2010M01
3            All Buyer Types  All Sale Types  2010M01
4            All Buyer Types  All Sale Types  2010M02
5            All Buyer Types  All Sale Types  2010M02
6            All Buyer Types  All Sale Types  2010M02
7            All Buyer Types  All Sale Types  2010M02
8            All Buyer Types  All Sale Types  2010M03
9            All Buyer Types  All Sale Types  2010M03
10           All Buyer Types  All Sale Types  2010M03
11           All Buyer Types  All Sale Types  2010M03
12           All Buyer Types  All Sale Types  2010M04
13           All Buyer Types  All Sale Types  2010M04
14           All Buyer Types  All Sale Types  2010M04
15           All Buyer Types  All Sale Types  2010M04
16           All Buyer Types  All Sale Types  2010M05
17           All Buyer Types  All Sale Types  2010M05
18           All Buyer Types  All Sale Types  2010M05
19           All Buyer Types  All Sale Types  2010M05
20           All Buyer Types  All Sale Types  2010M06
21           All Buyer Types  All Sale Types  2010M06
22           All Buyer Types  All Sale Types  2010M06
23           All Buyer Types  All Sale Types  2010M06
24           All Buyer Types  All Sale Types  2010M07
25           All Buyer Types  All Sale Types  2010M07
26           All Buyer Types  All Sale Types  2010M07
27           All Buyer Types  All Sale Types  2010M07
28           All Buyer Types  All Sale Types  2010M08
29           All Buyer Types  All Sale Types  2010M08
...                      ...             ...      ...
1014738  Non-Household Buyer      Non-Market  2016M08
1014739  Non-Household Buyer      Non-Market  2016M08
1014740  Non-Household Buyer      Non-Market  2016M09
1014741  Non-Household Buyer      Non-Market  2016M09
1014742  Non-Household Buyer      Non-Market  2016M09
1014743  Non-Household Buyer      Non-Market  2016M09
1014744  Non-Household Buyer      Non-Market  2016M10
1014745  Non-Household Buyer      Non-Market  2016M10
1014746  Non-Household Buyer      Non-Market  2016M10
1014747  Non-Household Buyer      Non-Market  2016M10
1014748  Non-Household Buyer      Non-Market  2016M11
1014749  Non-Household Buyer      Non-Market  2016M11
1014750  Non-Household Buyer      Non-Market  2016M11
1014751  Non-Household Buyer      Non-Market  2016M11
1014752  Non-Household Buyer      Non-Market  2016M12
1014753  Non-Household Buyer      Non-Market  2016M12
1014754  Non-Household Buyer      Non-Market  2016M12
1014755  Non-Household Buyer      Non-Market  2016M12
1014756  Non-Household Buyer      Non-Market  2017M01
1014757  Non-Household Buyer      Non-Market  2017M01
1014758  Non-Household Buyer      Non-Market  2017M01
1014759  Non-Household Buyer      Non-Market  2017M01
1014760  Non-Household Buyer      Non-Market  2017M02
1014761  Non-Household Buyer      Non-Market  2017M02
1014762  Non-Household Buyer      Non-Market  2017M02
1014763  Non-Household Buyer      Non-Market  2017M02
1014764  Non-Household Buyer      Non-Market  2017M03
1014765  Non-Household Buyer      Non-Market  2017M03
1014766  Non-Household Buyer      Non-Market  2017M03
1014767  Non-Household Buyer      Non-Market  2017M03

                             Statistic     value
0             Volume of Sales (Number)    1051.0
1        Value of Sales (Euro Million)     236.1
2           Average Sale Price  (Euro)  224686.0
3                  Median Price (Euro)  190000.0
4             Volume of Sales (Number)    1599.0
5        Value of Sales (Euro Million)     312.4
6           Average Sale Price  (Euro)  195343.0
7                  Median Price (Euro)  179000.0
8             Volume of Sales (Number)    2020.0
9        Value of Sales (Euro Million)     374.4
10          Average Sale Price  (Euro)  185347.0
11                 Median Price (Euro)  170000.0
12            Volume of Sales (Number)    1809.0
13       Value of Sales (Euro Million)     347.5
14          Average Sale Price  (Euro)  192083.0
15                 Median Price (Euro)  171000.0
16            Volume of Sales (Number)    2052.0
17       Value of Sales (Euro Million)     386.4
18          Average Sale Price  (Euro)  188316.0
19                 Median Price (Euro)  172750.0
20            Volume of Sales (Number)    2062.0
21       Value of Sales (Euro Million)     393.6
22          Average Sale Price  (Euro)  190881.0
23                 Median Price (Euro)  170000.0
24            Volume of Sales (Number)    2249.0
25       Value of Sales (Euro Million)     446.2
26          Average Sale Price  (Euro)  198395.0
27                 Median Price (Euro)  177000.0
28            Volume of Sales (Number)    2324.0
29       Value of Sales (Euro Million)     456.7
...                                ...       ...
1014738     Average Sale Price  (Euro)       NaN
1014739            Median Price (Euro)       NaN
1014740       Volume of Sales (Number)       0.0
1014741  Value of Sales (Euro Million)       0.0
1014742     Average Sale Price  (Euro)       NaN
1014743            Median Price (Euro)       NaN
1014744       Volume of Sales (Number)       0.0
1014745  Value of Sales (Euro Million)       0.0
1014746     Average Sale Price  (Euro)       NaN
1014747            Median Price (Euro)       NaN
1014748       Volume of Sales (Number)       0.0
1014749  Value of Sales (Euro Million)       0.0
1014750     Average Sale Price  (Euro)       NaN
1014751            Median Price (Euro)       NaN
1014752       Volume of Sales (Number)       7.0
1014753  Value of Sales (Euro Million)       0.4
1014754     Average Sale Price  (Euro)   50714.0
1014755            Median Price (Euro)   40000.0
1014756       Volume of Sales (Number)       0.0
1014757  Value of Sales (Euro Million)       0.0
1014758     Average Sale Price  (Euro)       NaN
1014759            Median Price (Euro)       NaN
1014760       Volume of Sales (Number)       0.0
1014761  Value of Sales (Euro Million)       0.0
1014762     Average Sale Price  (Euro)       NaN
1014763            Median Price (Euro)       NaN
1014764       Volume of Sales (Number)       0.0
1014765  Value of Sales (Euro Million)       0.0
1014766     Average Sale Price  (Euro)       NaN
1014767            Median Price (Euro)       NaN

[1014768 rows x 8 columns]

In [3]:
df1 = pd.DataFrame.from_records(df)

In [5]:
df1.head(200)

,County,Dwelling Status,Stamp Duty Event,Type of Buyer,Type of Sale,Month,Statistic,value
0,All Counties,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2010M01,Volume of Sales (Number),1051.0
1,All Counties,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2010M01,Value of Sales (Euro Million),236.1
2,All Counties,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2010M01,Average Sale Price (Euro),224686.0
3,All Counties,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2010M01,Median Price (Euro),190000.0
4,All Counties,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2010M02,Volume of Sales (Number),1599.0
5,All Counties,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2010M02,Value of Sales (Euro Million),312.4
6,All Counties,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2010M02,Average Sale Price (Euro),195343.0
7,All Counties,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2010M02,Median Price (Euro),179000.0
8,All Counties,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2010M03,Volume of Sales (Number),2020.0
9,All Counties,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2010M03,Value of Sales (Euro Million),374.4
10,All Counties,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2010M03,Average Sale Price (Euro),185347.0
11,All Counties,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2010M03,Median Price (Euro),170000.0
12,All Counties,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2010M04,Volume of Sales (Number),1809.0
13,All Counties,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2010M04,Value of Sales (Euro Million),347.5
14,All Counties,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2010M04,Average Sale Price (Euro),192083.0
15,All Counties,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2010M04,Median Price (Euro),171000.0
16,All Counties,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2010M05,Volume of Sales (Number),2052.0
17,All Counties,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2010M05,Value of Sales (Euro Million),386.4
18,All Counties,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2010M05,Average Sale Price (Euro),188316.0
19,All Counties,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2010M05,Median Price (Euro),172750.0
20,All Counties,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2010M06,Volume of Sales (Number),2062.0
21,All Counties,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2010M06,Value of Sales (Euro Million),393.6
22,All Counties,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2010M06,Average Sale Price (Euro),190881.0
23,All Counties,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2010M06,Median Price (Euro),170000.0
24,All Counties,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2010M07,Volume of Sales (Number),2249.0
25,All Counties,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2010M07,Value of Sales (Euro Million),446.2
26,All Counties,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2010M07,Average Sale Price (Euro),198395.0
27,All Counties,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2010M07,Median Price (Euro),177000.0
28,All Counties,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2010M08,Volume of Sales (Number),2324.0
29,All Counties,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2010M08,Value of Sales (Euro Million),456.7
...,...,...,...,...,...,...,...,...
170,All Counties,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2013M07,Average Sale Price (Euro),166230.0
171,All Counties,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2013M07,Median Price (Euro),120000.0
172,All Counties,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2013M08,Volume of Sales (Number),2789.0
173,All Counties,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2013M08,Value of Sales (Euro Million),484.8
174,All Counties,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2013M08,Average Sale Price (Euro),173841.0
175,All Counties,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2013M08,Median Price (Euro),125000.0
176,All Counties,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2013M09,Volume of Sales (Number),2915.0
177,All Counties,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2013M09,Value of Sales (Euro Million),562.9
178,All Counties,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2013M09,Average Sale Price (Euro),193113.0
179,All Counties,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2013M09,Median Price (Euro),125000.0
180,All Counties,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2013M10,Volume of Sales (Number),3155.0
181,All Counties,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2013M10,Value of Sales (Euro Million),532.2
182,All Counties,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2013M10,Average Sale Price (Euro),168674.0
183,All Counties,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2013M10,Median Price (Euro),125000.0
184,All Counties,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2013M11,Volume of Sales (Number),3289.0
185,All Counties,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2013M11,Value of Sales (Euro Million),584.4
186,All Counties,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2013M11,Average Sale Price (Euro),177670.0
187,All Counties,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2013M11,Median Price (Euro),125500.0
188,All Counties,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2013M12,Volume of Sales (Number),3260.0
189,All Counties,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2013M12,Value of Sales (Euro Million),634.0
190,All Counties,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2013M12,Average Sale Price (Euro),194468.0
191,All Counties,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2013M12,Median Price (Euro),140000.0
192,All Counties,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2014M01,Volume of Sales (Number),3716.0
193,All Counties,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2014M01,Value of Sales (Euro Million),610.2
194,All Counties,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2014M01,Average Sale Price (Euro),164215.0
195,All Counties,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2014M01,Median Price (Euro),117000.0
196,All Counties,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2014M02,Volume of Sales (Number),2461.0
197,All Counties,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2014M02,Value of Sales (Euro Million),434.5
198,All Counties,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2014M02,Average Sale Price (Euro),176564.0
199,All Counties,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2014M02,Median Price (Euro),120000.0

In [6]:
#select all the counties without All Counties 
#https://stackoverflow.com/questions/17071871/select-rows-from-a-dataframe-based-on-values-in-a-column-in-pandas
df2 = df1.loc[df['County'] != 'All Counties']

In [7]:
df2.head()

,County,Dwelling Status,Stamp Duty Event,Type of Buyer,Type of Sale,Month,Statistic,value
37584,Carlow,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2010M01,Volume of Sales (Number),8.0
37585,Carlow,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2010M01,Value of Sales (Euro Million),1.5
37586,Carlow,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2010M01,Average Sale Price (Euro),190438.0
37587,Carlow,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2010M01,Median Price (Euro),176750.0
37588,Carlow,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2010M02,Volume of Sales (Number),14.0

In [8]:
print ("\n\n---------------------")
print ("TRAIN SET INFORMATION")
print ("---------------------")
print ("Shape of training set:", df2.shape, "\n")
print ("Column Headers:", list(df2.columns.values), "\n")
print (df2.dtypes)

---------------------
TRAIN SET INFORMATION
---------------------
Shape of training set: (977184, 8)

Column Headers: ['County', 'Dwelling Status', 'Stamp Duty Event', 'Type of Buyer', 'Type of Sale', 'Month', 'Statistic', 'value']

County               object
Dwelling Status      object
Stamp Duty Event     object
Type of Buyer        object
Type of Sale         object
Month                object
Statistic            object
value               float64
dtype: object

In [9]:
import re
missing_values = []
nonumeric_values = []

print ("TRAINING SET INFORMATION")
print ("========================\n")

for column in df2:
    # Find all the unique feature values
    uniq = df2[column].unique()
    print ("'{}' has {} unique values" .format(column,uniq.size))
    if (uniq.size > 10):
        print("~~Listing up to 10 unique values~~")
    print (uniq[0:10])
    print ("\n-----------------------------------------------------------------------\n")
    
    # Find features with missing values
    if (True in pd.isnull(uniq)):
        s = "{} has {} missing" .format(column, pd.isnull(df2[column]).sum())
        missing_values.append(s)
    
    # Find features with non-numeric values
    for i in range (1, np.prod(uniq.shape)):
        if (re.match('nan', str(uniq[i]))):
            break
        if not (re.search('(^\d+\.?\d*$)|(^\d*\.?\d+$)', str(uniq[i]))):
            nonumeric_values.append(column)
            break
  
print ("\n~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~\n")
print ("Features with missing values:\n{}\n\n" .format(missing_values))
print ("Features with non-numeric values:\n{}" .format(nonumeric_values))
print ("\n~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~\n")

TRAINING SET INFORMATION
========================

'County' has 26 unique values
~~Listing up to 10 unique values~~
['Carlow' 'Dublin' 'Kildare' 'Kilkenny' 'Laois' 'Longford' 'Louth' 'Meath'
 'Offaly' 'Westmeath']

-----------------------------------------------------------------------

'Dwelling Status' has 3 unique values
['All Dwelling Statuses' 'New' 'Existing']

-----------------------------------------------------------------------

'Stamp Duty Event' has 2 unique values
['Filings' 'Executions']

-----------------------------------------------------------------------

'Type of Buyer' has 6 unique values
['All Buyer Types' 'Household Buyer - All'
 'Household Buyer - First-Time Buyer Owner-Occupier'
 'Household Buyer - Former Owner-Occupier' 'Household Buyer - Non-Occupier'
 'Non-Household Buyer']

-----------------------------------------------------------------------

'Type of Sale' has 3 unique values
['All Sale Types' 'Market' 'Non-Market']

-----------------------------------------------------------------------

'Month' has 87 unique values
~~Listing up to 10 unique values~~
['2010M01' '2010M02' '2010M03' '2010M04' '2010M05' '2010M06' '2010M07'
 '2010M08' '2010M09' '2010M10']

-----------------------------------------------------------------------

'Statistic' has 4 unique values
['Volume of Sales (Number)' 'Value of Sales (Euro Million)'
 'Average Sale Price  (Euro)' 'Median Price (Euro)']

-----------------------------------------------------------------------

'value' has 85618 unique values
~~Listing up to 10 unique values~~
[  8.00000000e+00   1.50000000e+00   1.90438000e+05   1.76750000e+05
   1.40000000e+01   1.80000000e+00   1.28619000e+05   1.40332000e+05
   2.00000000e+01   2.10000000e+00]

-----------------------------------------------------------------------


~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Features with missing values:
['value has 100062 missing']


Features with non-numeric values:
['County', 'Dwelling Status', 'Stamp Duty Event', 'Type of Buyer', 'Type of Sale', 'Month', 'Statistic']

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

In [10]:
df2.Statistic

37584           Volume of Sales (Number)
37585      Value of Sales (Euro Million)
37586         Average Sale Price  (Euro)
37587                Median Price (Euro)
37588           Volume of Sales (Number)
37589      Value of Sales (Euro Million)
37590         Average Sale Price  (Euro)
37591                Median Price (Euro)
37592           Volume of Sales (Number)
37593      Value of Sales (Euro Million)
37594         Average Sale Price  (Euro)
37595                Median Price (Euro)
37596           Volume of Sales (Number)
37597      Value of Sales (Euro Million)
37598         Average Sale Price  (Euro)
37599                Median Price (Euro)
37600           Volume of Sales (Number)
37601      Value of Sales (Euro Million)
37602         Average Sale Price  (Euro)
37603                Median Price (Euro)
37604           Volume of Sales (Number)
37605      Value of Sales (Euro Million)
37606         Average Sale Price  (Euro)
37607                Median Price (Euro)
37608           Volume of Sales (Number)
37609      Value of Sales (Euro Million)
37610         Average Sale Price  (Euro)
37611                Median Price (Euro)
37612           Volume of Sales (Number)
37613      Value of Sales (Euro Million)
                       ...
1014738       Average Sale Price  (Euro)
1014739              Median Price (Euro)
1014740         Volume of Sales (Number)
1014741    Value of Sales (Euro Million)
1014742       Average Sale Price  (Euro)
1014743              Median Price (Euro)
1014744         Volume of Sales (Number)
1014745    Value of Sales (Euro Million)
1014746       Average Sale Price  (Euro)
1014747              Median Price (Euro)
1014748         Volume of Sales (Number)
1014749    Value of Sales (Euro Million)
1014750       Average Sale Price  (Euro)
1014751              Median Price (Euro)
1014752         Volume of Sales (Number)
1014753    Value of Sales (Euro Million)
1014754       Average Sale Price  (Euro)
1014755              Median Price (Euro)
1014756         Volume of Sales (Number)
1014757    Value of Sales (Euro Million)
1014758       Average Sale Price  (Euro)
1014759              Median Price (Euro)
1014760         Volume of Sales (Number)
1014761    Value of Sales (Euro Million)
1014762       Average Sale Price  (Euro)
1014763              Median Price (Euro)
1014764         Volume of Sales (Number)
1014765    Value of Sales (Euro Million)
1014766       Average Sale Price  (Euro)
1014767              Median Price (Euro)
Name: Statistic, dtype: object

In [ ]:
for value1 in df2.County:
    df3 = df2.loc[(df2['County'] == 'value1') & (df2['Statistic'] == 'Median Price (Euro)')]

In [24]:
df3.value.mean()

95805.6290250779

In [23]:
df3

,County,Dwelling Status,Stamp Duty Event,Type of Buyer,Type of Sale,Month,Statistic,value
37587,Carlow,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2010M01,Median Price (Euro),176750.0
37591,Carlow,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2010M02,Median Price (Euro),140332.0
37595,Carlow,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2010M03,Median Price (Euro),82500.0
37599,Carlow,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2010M04,Median Price (Euro),57000.0
37603,Carlow,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2010M05,Median Price (Euro),133000.0
37607,Carlow,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2010M06,Median Price (Euro),140000.0
37611,Carlow,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2010M07,Median Price (Euro),149000.0
37615,Carlow,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2010M08,Median Price (Euro),172500.0
37619,Carlow,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2010M09,Median Price (Euro),113000.0
37623,Carlow,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2010M10,Median Price (Euro),180000.0
37627,Carlow,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2010M11,Median Price (Euro),177750.0
37631,Carlow,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2010M12,Median Price (Euro),122535.0
37635,Carlow,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2011M01,Median Price (Euro),120000.0
37639,Carlow,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2011M02,Median Price (Euro),145500.0
37643,Carlow,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2011M03,Median Price (Euro),106500.0
37647,Carlow,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2011M04,Median Price (Euro),51000.0
37651,Carlow,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2011M05,Median Price (Euro),46000.0
37655,Carlow,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2011M06,Median Price (Euro),158000.0
37659,Carlow,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2011M07,Median Price (Euro),130000.0
37663,Carlow,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2011M08,Median Price (Euro),71000.0
37667,Carlow,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2011M09,Median Price (Euro),60000.0
37671,Carlow,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2011M10,Median Price (Euro),80500.0
37675,Carlow,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2011M11,Median Price (Euro),52500.0
37679,Carlow,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2011M12,Median Price (Euro),0.0
37683,Carlow,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2012M01,Median Price (Euro),85000.0
37687,Carlow,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2012M02,Median Price (Euro),100000.0
37691,Carlow,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2012M03,Median Price (Euro),80000.0
37695,Carlow,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2012M04,Median Price (Euro),65000.0
37699,Carlow,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2012M05,Median Price (Euro),70000.0
37703,Carlow,All Dwelling Statuses,Filings,All Buyer Types,All Sale Types,2012M06,Median Price (Euro),20000.0
...,...,...,...,...,...,...,...,...
75051,Carlow,Existing,Executions,Non-Household Buyer,Non-Market,2014M10,Median Price (Euro),NaN
75055,Carlow,Existing,Executions,Non-Household Buyer,Non-Market,2014M11,Median Price (Euro),NaN
75059,Carlow,Existing,Executions,Non-Household Buyer,Non-Market,2014M12,Median Price (Euro),75045.0
75063,Carlow,Existing,Executions,Non-Household Buyer,Non-Market,2015M01,Median Price (Euro),NaN
75067,Carlow,Existing,Executions,Non-Household Buyer,Non-Market,2015M02,Median Price (Euro),NaN
75071,Carlow,Existing,Executions,Non-Household Buyer,Non-Market,2015M03,Median Price (Euro),NaN
75075,Carlow,Existing,Executions,Non-Household Buyer,Non-Market,2015M04,Median Price (Euro),NaN
75079,Carlow,Existing,Executions,Non-Household Buyer,Non-Market,2015M05,Median Price (Euro),NaN
75083,Carlow,Existing,Executions,Non-Household Buyer,Non-Market,2015M06,Median Price (Euro),NaN
75087,Carlow,Existing,Executions,Non-Household Buyer,Non-Market,2015M07,Median Price (Euro),NaN
75091,Carlow,Existing,Executions,Non-Household Buyer,Non-Market,2015M08,Median Price (Euro),NaN
75095,Carlow,Existing,Executions,Non-Household Buyer,Non-Market,2015M09,Median Price (Euro),NaN
75099,Carlow,Existing,Executions,Non-Household Buyer,Non-Market,2015M10,Median Price (Euro),NaN
75103,Carlow,Existing,Executions,Non-Household Buyer,Non-Market,2015M11,Median Price (Euro),0.0
75107,Carlow,Existing,Executions,Non-Household Buyer,Non-Market,2015M12,Median Price (Euro),5000.0
75111,Carlow,Existing,Executions,Non-Household Buyer,Non-Market,2016M01,Median Price (Euro),NaN
75115,Carlow,Existing,Executions,Non-Household Buyer,Non-Market,2016M02,Median Price (Euro),NaN
75119,Carlow,Existing,Executions,Non-Household Buyer,Non-Market,2016M03,Median Price (Euro),45000.0
75123,Carlow,Existing,Executions,Non-Household Buyer,Non-Market,2016M04,Median Price (Euro),NaN
75127,Carlow,Existing,Executions,Non-Household Buyer,Non-Market,2016M05,Median Price (Euro),NaN
75131,Carlow,Existing,Executions,Non-Household Buyer,Non-Market,2016M06,Median Price (Euro),NaN
75135,Carlow,Existing,Executions,Non-Household Buyer,Non-Market,2016M07,Median Price (Euro),NaN
75139,Carlow,Existing,Executions,Non-Household Buyer,Non-Market,2016M08,Median Price (Euro),NaN
75143,Carlow,Existing,Executions,Non-Household Buyer,Non-Market,2016M09,Median Price (Euro),NaN
75147,Carlow,Existing,Executions,Non-Household Buyer,Non-Market,2016M10,Median Price (Euro),NaN
75151,Carlow,Existing,Executions,Non-Household Buyer,Non-Market,2016M11,Median Price (Euro),NaN
75155,Carlow,Existing,Executions,Non-Household Buyer,Non-Market,2016M12,Median Price (Euro),NaN
75159,Carlow,Existing,Executions,Non-Household Buyer,Non-Market,2017M01,Median Price (Euro),NaN
75163,Carlow,Existing,Executions,Non-Household Buyer,Non-Market,2017M02,Median Price (Euro),NaN
75167,Carlow,Existing,Executions,Non-Household Buyer,Non-Market,2017M03,Median Price (Euro),NaN